{
  "presets": [
  	["@babel/env", 
  		{
			"targets": {
				  "browsers": "> 0.25%, not dead"
			   }
		  }
  	]
  ],
  "plugins": [
			  "babel-plugin-loop-optimizer",
  			  "babel-plugin-minify-dead-code-elimination"
  			],
}
