{
  "presets": [
  	["@babel/env", 
  		{
			"targets": {
				  "browsers": "> 0.25%, not dead"
			   }
		  }
  	]
  ],
  "plugins": [
  			  "minify-dead-code-elimination",
  			  "loop-optimizer",
          "minify-constant-folding"
  			],
}
