node_modules
*.tgz
tmp
*.bak
notebook
nodebook
try_it
debug.log
ref    
tryitjs-ws.sublime-workspace
tryitjs.sublime-project
tryitjs.sublime-workspace
.tags                    
.tags_sorted_by_file     
deldir.bat
xxx