.hljs-comment,.hljs-quote{color:#7d7a68}.hljs-attribute,.hljs-link,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable{color:#d73737}.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type{color:#b65611}.hljs-bullet,.hljs-string,.hljs-symbol{color:#60ac39}.hljs-section,.hljs-title{color:#6684e1}.hljs-keyword,.hljs-selector-tag{color:#b854d4}.hljs{display:block;overflow-x:auto;background:#fefbec;color:#6e6b5e;padding:.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}
.tryit-error {
  color: red;
  border-style: dotted;
  width: 80%;
  display: none
}

.tryit-code {
  border-style: solid;
  width: 80%;
  background-color: lightgrey;
  height: 7rem;
}

.tryit-display {
  border-style: solid;
  width: 80%;
  min-height: 2rem
}

body { 
    padding: 2.5rem;
    padding-right: 2.5rem;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
}

textarea.tryit {
  width: 80%;
}

h1 {
  text-align:center;
  color: #4287f5;
  font-size: 3rem;
}

body {
  counter-reset: h2counter;
}

h1 {
    counter-reset: h2counter;
}
h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}

h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
}

/* Table of contents TOC */
#toc_container {
    position: fixed;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 15px;
    margin-top: 5rem;
    width: 120%;
    z-index: 1000;
}

.toc_title {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.toc0 {
  font-size: 1.2rem;
  text-align:center;
  color: #4287f5; 
  padding-bottom: 1rem;
}

.toc1 {
  font-size: 0.75rem;
  text-align:left;
  color: #4287f5;
}

.toc1 {
  font-size: 0.75rem;
  text-align:left;
  color: #4287f5;
}

.toc2 {
  font-size: 0.75rem;
  text-align:left;
  margin-left: 15px;
}

.toc3 {
  font-size: 1rem;
  text-align:left;
  margin-left: 25px;
}

.toc4 {
  font-size: 0.75rem;
  text-align:left;
  margin-left: 35px;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

