.hljs-comment,.hljs-quote{color:#7d7a68}.hljs-attribute,.hljs-link,.hljs-name,.hljs-regexp,.hljs-selector-class,.hljs-selector-id,.hljs-tag,.hljs-template-variable,.hljs-variable{color:#d73737}.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-meta,.hljs-number,.hljs-params,.hljs-type{color:#b65611}.hljs-bullet,.hljs-string,.hljs-symbol{color:#60ac39}.hljs-section,.hljs-title{color:#6684e1}.hljs-keyword,.hljs-selector-tag{color:#b854d4}.hljs{display:block;overflow-x:auto;background:#fefbec;color:#6e6b5e;padding:.5em}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:700}
.rendered_html tr,
.rendered_html th,
.rendered_html td {
 text-align: left;
 vertical-align: middle;
 padding: 0.42em 0.47em;
 line-height: normal;
 white-space: normal;
 max-width: none;
 border: none;
}
.rendered_html td {
 font-family: sans-serif !important;
 font-size: 9.3pt;
}
.rendered_html table {
 font-family: sans-serif !important;
 table-layout: auto !important;
 margin-left: 8px;
 margin-right: auto;
 border: none;
 border-collapse: collapse;
 border-spacing: 0;
 color: #e2e5f2;
 table-layout: fixed;
}
.rendered_html thead {
 font-family: sans-serif !important;
 font-size: 10.3pt !important;
 background: #27313d;
 color: #bbc2e1;
 border-bottom: 1px solid #27313d;
 vertical-align: bottom;
}
.rendered_html tbody tr:nth-child(odd) {
 background: #3f495a;
}
.rendered_html tbody tr {
 background: #394251;
}
.rendered_html tbody tr:hover:nth-child(odd) {
 background: #3d4757;
}
.rendered_html tbody tr:hover {
 background: #373f4e;
}
.rendered_html * + table {
 margin-top: .05em;
}



/* ****************************************************************** */
.ftable tr,
.ftable th,
.ftable td {
 text-align: left;
 vertical-align: middle;
 border: 1px dashed #8e8;
 padding: 0.42em 0.47em;
 line-height: normal;
 white-space: normal;
 max-width: none;
/* border: none;*/
}
.ftable td {
 font-family: sans-serif !important;
 font-size: 9.3pt;
}
.ftable table {
 font-family: sans-serif !important;
 margin-left: 8px;
 margin-right: auto;
 border: none;
 border-collapse: collapse;
 border-spacing: 0;
 color: #e2e5f2;
 table-layout: fixed;
}
.ftable thead {
 font-family: sans-serif !important;
 font-size: 10.3pt !important;
 background: #27313d;
 color: #bbc2e1;
 border-bottom: 1px solid #27313d;
 vertical-align: bottom;
}
.ftable tbody tr:nth-child(odd) {
 background: #3f495a;
}
.ftable tbody tr {
 background: #394251;
}
.ftable tbody tr:hover:nth-child(odd) {
 background: #3d4757;
}
.ftable tbody tr:hover {
 background: #373f4e;
}
.ftable * + table {
 margin-top: .05em;
}




.tryit-error {
  color: red;
  border-style: dotted;
  width: 80%;
  display: none
}

.tryit-code {
  border-style: solid;
  width: 80%;
  background-color: lightgrey;
  height: 7rem;
}

.tryit-display {
  border-style: solid;
  border-color: lightgrey;
  border-width: 1px;
  width: 80%;
  min-height: 1rem;
  overflow-x: scroll ;
  overflow-y: scroll;
}

body { 
    padding: 2.5rem;
    padding-right: 2.5rem;
    overflow-x: hidden;
    min-width: 320px;
    background: #fff;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0,0,0,.87);
}

textarea.tryit {
  width: 80%;
}

h1 {
  text-align:center;
  color: #4287f5;
  font-size: 3rem;
}

body {
  counter-reset: h2counter;
}

h1 {
    counter-reset: h2counter;
}
h2:before {
    content: counter(h2counter) ".\0000a0\0000a0";
    counter-increment: h2counter;
    counter-reset: h3counter;
}

h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
    counter-reset: h4counter;
}

h4:before {
    content: counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0";
    counter-increment: h4counter;
}
#toc_container a:hover {
  color: #ddffff !important;
  cursor: pointer;
  background-color: #8888ff;
}

.logo {
  position: fixed;
  z-index: 1000;
  text-align: center;
  left: 20px;
  top: 8px;
}
/* Table of contents TOC */
#toc_container {
    position: fixed;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 15px;
    margin-top: 5rem;
    width: 120%;
    z-index: 1000;
    max-height: 80%;
    overflow-y: scroll;
}

.toc_title {
    font-weight: 700;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 2rem;
}

.toc0 {
  font-size: 1.2rem;
  text-align:center;
  color: #4287f5; 
  padding-bottom: 1rem;
  text-decoration: underline;
  padding-top: 0.5rem;
}



.toc1 {
  font-size: 0.7rem;
  text-align:left;
  color: #4287f5;
}

.toc2 {
  font-size: 0.65rem;
  text-align:left;
  margin-left: 15px;
  color: #4287f5;
}

.toc3 {
  font-size: 0.6rem;
  text-align:left;
  margin-left: 25px;
  color: #4287f5;
}

.toc4 {
  font-size: 0.55rem;
  text-align:left;
  margin-left: 35px;
  color: #4287f5;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

#toc_inner {
  max-height: 75vh;
  overflow-y: scroll;
  /*background-color: #eeffff;*/
}

/*@media only screen and (max-height: 50rem) {
  #toc_inner {
  max-height: 40rem;
  background-color: #88eeee;
}*/
@media only screen and (max-height: 40rem) {
  #toc_inner {
  max-height: 70vh;
  /*background-color: #ffeeee;*/
}

@media only screen and (max-height: 30rem) {
  #toc_inner {
  max-height: 65vh;
  /*background-color: #ffeeff;*/
}


@media only screen and (max-height: 20rem) {
  #toc_inner {
  max-height: 50vh;
  /*background-color: #ffffee;*/
}


/*
.CodeMirror-panel .info-panel {
    display: flex;
    justify-content: space-between;
    height: 32px;
}*/